/* ==========================================
   EY LIVE V2
   CHAT PAGE
========================================== */

.searchInput{

width:100%;

height:55px;

border:none;

outline:none;

padding:0 18px;

border-radius:18px;

background:#1b1233;

color:white;

font-size:15px;

margin-bottom:20px;

}

.searchInput::placeholder{

color:#9b9bb6;

}

.chatList{

display:flex;

flex-direction:column;

gap:15px;

padding-bottom:100px;

}

.chatCard{

display:flex;

align-items:center;

gap:15px;

background:#1b1233;

padding:15px;

border-radius:20px;

cursor:pointer;

transition:.25s;

}

.chatCard:hover{

transform:translateY(-3px);

background:#26184a;

}

.chatAvatar{

position:relative;

width:60px;

height:60px;

}

.chatAvatar img{

width:60px;

height:60px;

border-radius:50%;

object-fit:cover;

}

.chatOnline{

position:absolute;

right:0;

bottom:0;

width:15px;

height:15px;

background:#22c55e;

border:3px solid #1b1233;

border-radius:50%;

}

.chatInfo{

flex:1;

}

.chatInfo h3{

font-size:17px;

margin-bottom:5px;

}

.chatInfo p{

font-size:13px;

color:#bdbdd8;

}

.chatTime{

font-size:12px;

color:#888;

text-align:right;

}

.unread{

margin-top:8px;

display:inline-flex;

align-items:center;

justify-content:center;

width:22px;

height:22px;

border-radius:50%;

background:#ff2e9e;

color:white;

font-size:11px;

font-weight:700;

}
